<table>
  <tbody>
    <h2>Log History </h2>
    <tr>
      <th>
        Client
      </th>
      <th>
        Car
      </th>
      <th>
        Date Completed
      </th>
    </tr>

<% @completed_jobs.each do |job| %>
<tr>
  <td><%= link_to job.car.client.name, job_path(id: job.token) %></td>

  <td><%= job.car.model %></td>
  <td><%= job.car.created_at %></td>
</tr>
<% end %>

</table>

<button> <%= link_to 'Back to main', root_path, class: "link-button" %> </button>
