<h2>All Mechanics</h2>

<% @mechanics.each do |mechanic| %>

<p>  <%= link_to "#{mechanic.name}", mechanic_path(mechanic) %> </p>

<% end %>

<p> <strong> <%= link_to 'Add a New Mechanic', new_mechanic_path %> </strong> </p>
