<h2 class="title">Open Jobs </h2>

 <table class="table">
   <tbody>
     <tr>
       <th>
         Job Name:
       </th>
       <th>
         Job Status:
       </th>
       <th>
         Job Start Date:
       </th>
     </tr>


     <% @jobs.each do |job| %>
     <% if job.aasm_state != 'completed' %>
         <tr>
           <td> <%= link_to "Repair for #{job.car.client.name}", job_path(id: job.token) %> </td>
           <td><%= job.aasm_state %> </td>
           <td><%= job.created_at.strftime("%m-%d-%Y") %> </td>
         </tr>
       <% end %>
     <% end %>

   </tbody>
 </table>

 <button> <%= link_to 'Back to main', root_path, class: "link-button" %> </button>
