<h2>Open Jobs </h2>

 <table>
   <tbody>
     <tr>
       <th>
         Job Name:
       </th>
       <th>
         Job Status:
       </th>
       <th>
         Job Start Date:
       </th>
       <th>
         Link:
       </th>
     </tr>


     <% @jobs.each do |job| %>
     <% if job.aasm_state != 'completed' %>
         <tr>
           <td><%= "Repair for #{job.car.client.name}" %></td>
           <td><%= job.aasm_state %> </td>
           <td><%= job.created_at %> </td>
           <td> <%= link_to "Repair for #{job.car.client.name}", job_path(id: job.token) %> </td>
         </tr>
       <% end %>
     <% end %>

   </tbody>
 </table>
