<h2>All clients</h2>

<% @clients.each do |client| %>

<p>  <%= link_to "#{client.name}", client_path(client) %> </p>

<% end %>

<p> <strong> <%= link_to 'Add a New Client', new_client_path %> </strong> </p>
