<p> Thanks for using our services <%= @client.name %>! </P>
<p>
  Your car has been diagnosed and a cost estimate has been uploaded, click <%= link_to "here", job_url(id: @job.token) %>  to see it and approve.
</p>
