/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
@import 'bourbon';
@import 'base/grid_settings';
@import 'neat';
@import 'base/base';


// Modules
@import 'dashboard';


html{
  font-family: sans-serif;
  -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

body {
  padding-left: 50px;
  padding-top: 0;
  padding-right: 50px;
  padding-bottom: 100px;
}
.navbar-header {
  overflow: hidden;
  background-color: white;
  color: #333;
  line-height: 20px;
  letter-spacing: 2px;
  margin-top: 50px;
  margin-bottom: 30px;
}


#navbar-nav {
  float: left;
  text-align: center;
}

.navbar-header > ul {
  list-style-type: none;

}

.navbar-header > ul > li {
  float: right;
  padding-left: 10px;
}

.navbar-header > ul > li > a {
  display: block;
  text-decoration: none;
  text-align: center;
}

.navbar-header > ul > li > a:hover {
  background-color: #111;
}
