// Place all the styles related to the Dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//header
.navbar-header {
  overflow: hidden;
  background-color: white;
  color: #333;
  line-height: 20px;
  height:50px;
  letter-spacing: 2px;
  margin-top: 50px;
  margin-bottom: 30px;
}

#navbar-title {
  float: left;
  text-align: center;
  color: black;
}

#navbar-items{
  list-style-type: none;
  float: right;
}

.navbar-header > div > ul > li {
  float: right;
  padding-left: 10px;
}

.navbar-header > div > ul > li > a {
  display: block;
  text-decoration: none;
  text-align: center;
}

.navbar-header > ul > li > a:hover {
  background-color: #111;
}

//Dashboard Body

.content-grid {
  list-style: none;
  // padding: 0 0 50px 0;
  margin: 0;
}

/* Clear floats */
.content-grid:before,
.content-grid:after {
  content: " ";
  display: table;
}

.content-grid:after {
  clear: both;
}

/* grid item */
.content-grid li {
  width: 20%;
  float: left;
  height: 300px;
  text-align: center;
}

/* we are using a combination of borders and box shadows to control the grid lines */
.content-grid li:nth-child(-n+3){
  border-top: none;
}

/* anchor style */
.content-grid li > a {
  display: block;
  height: 100%;
  color: #47a3da;
  -webkit-transition: background 0.2s;
  -moz-transition: background 0.2s;
  transition: background 0.2s;
  text-decoration: none;
  max-width: 100%;
}

/* the icon with pseudo class for icon font */
.content-grid-icon {
  padding: 30px 0 0 0;
  display: block;
  -webkit-transition: -webkit-transform 0.2s;
  transition: -moz-transform 0.2s;
  transition: transform 0.2s;
  max-width: 100%;
}

.content-grid-icon:before {
  font-family: sans-serif;
  font-size: 14em;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}


.cbp-ig-icon-job{
  // max-width: 100%;
  margin: 0px;
  max-height: 64%;
  margin: auto;
}

/* titles */
.content-grid .content-grid-title {
  margin: 40px 0 10px 0;
  padding: 10px 0 0 0;
  font-size: 2em;
  position: relative;
  -webkit-transition: -webkit-transform 0.2s;
  -moz-transition: -moz-transform 0.2s;
  transition: transform 0.2s;
}

// .content-grid .content-grid-title:before {
//     content: '';
//   position: absolute;
//   background: white;
//   width: 160px;
//   height: 6px;
//   top: 0px;
//   left: 50%;
//   margin: -10px 0 0 -80px;
//   -webkit-transition: margin-top 0.2s; /* top or translate does not seem to work in Firefox */
//   -moz-transition: margin-top 0.2s;
//   transition: margin-top 0.2s;
// }

/* Hover styles */

// .content-grid li > a:hover {
//   background: #47a3da;
// }

.content-grid li > a:hover .content-grid-icon {
  -webkit-transform: translateY(10px);
  -moz-transform: translateY(10px);
  -ms-transform: translateY(10px);
  transform: translateY(10px);
}

.content-grid li > a:hover .content-grid-icon:before,
.content-grid li > a:hover .content-grid-title {
  color: #e55a5a;
}

.content-grid li > a:hover .content-grid-title {
  -webkit-transform: translateY(-20px);
  -moz-transform: translateY(-20px);
  -ms-transform: translateY(-20px);
  transform: translateY(-20px);
}

.content-grid li > a:hover .content-grid-title:before {
  background: #fff;
  margin-top: 80px;
}


@media screen and (max-width: 62.75em) {
  .content-grid li {
    width: 50%;
  }

  /* reset the grid lines */


  .content-grid li:nth-child(3n-1),
  .content-grid li:nth-child(3n-2) {
    box-shadow: none;
  }

  .content-grid li:nth-child(-n+2){
    border-top: none;
  }


}

@media screen and (max-width: 41.6em) {
  .content-grid li {
    width: 100%;
  }



  .content-grid li:nth-child(2n-1) {
    box-shadow: none
  }

  .content-grid li:first-child {
    border-top: none;
  }
}

@media screen and (max-width: 25em) {
  .content-grid {
    font-size: 80%;
  }

  .content-grid .content-grid-category {
    margin-top: 20px;
  }
}
