.landing_container {
  @include outer-container;
  height: 100vh;
}

.login_container {
  @include span-columns(12);
}

.landing_picture {
  @include span-columns(5);
  position: left;
  padding-top: 2rem;
  margin-left: 1.5rem;
}

.title {
  @include span-columns(5);
  text-align: center;
  vertical-align: middle;
}



.login_form {
  @include span-columns(6);
  display: block;
  margin-left: 4rem;
  border: solid black;
}

.login_title {
  width: 100%;
  display: block;
  text-align: center;
}

.loggedin_title {
  width: 100%;
  display: block;
  text-align: center;
  // padding-top: 6rem;
  vertical-align: middle;
}

.login_field{
  width: 70%;
  display: block;
}
