<div class="landing_container">

<div class="login_container">
  <%= image_tag ("logo.jpg"), class: "landing_picture" %></span>
  <% if current_user %>
    <h3 class="loggedin_title">You are already logged in!</h3>
  <% else %>
      <div class="login_form">
      <h3 class="login_title">Log In</h3>
      <%= render 'form' %>
  <% end %>
    </div>



</div>
